._*
# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Data files
*DuffTF_dw=1.mat
*Verification.mat

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag

# Project files and folders
*.prj
resources/
/script_narx_gen.m
/find_freq.m
